<div class="container">
  <p class="text-center text-monospace">
    Temperatur
  </p>
  <canvas id="temperatureChart" #temperatureChart></canvas>
  <div class="btn-group" role="group" style="width: 100%;">
      <button mdbBtn size="sm" type="button" color="info" class="waves-light" (click)="onIncreaseTemperatureOffset()" mdbWavesEffect>
          <mdb-icon fas icon="angle-left"></mdb-icon>
      </button>
      <button mdbBtn size="sm" type="button" color="info" class="waves-light" (click)="onChangeTemperatureRange()" mdbWavesEffect>
        {{selectedTemperatureRange.label}}
      </button>
      <button mdbBtn size="sm" type="button" color="info" class="waves-light" [disabled]="temperatureOffset === 0" (click)="onDecreaseTemperatureOffset()" mdbWavesEffect>
        <mdb-icon fas icon="angle-right"></mdb-icon>
      </button>
  </div>
  <hr>
  <p class="text-center text-monospace">
    Luftfeuchtigkeit
  </p>
  <canvas id="humidityChart" #humidityChart></canvas>
  <div class="btn-group" role="group" style="width: 100%;">
      <button mdbBtn size="sm" type="button" color="info" class="waves-light" (click)="onIncreaseHumidityOffset()" mdbWavesEffect>
          <mdb-icon fas icon="angle-left"></mdb-icon>
      </button>
      <button mdbBtn size="sm" type="button" color="info" class="waves-light" (click)="onChangeHumidityRange()" mdbWavesEffect>
        {{selectedHumidityRange.label}}
      </button>
      <button mdbBtn size="sm" type="button" color="info" class="waves-light" [disabled]="humidityOffset === 0" (click)="onDecreaseHumidityOffset()" mdbWavesEffect>
        <mdb-icon fas icon="angle-right"></mdb-icon>
      </button>
  </div>
</div>