<a class="justify-content-center" (click)="onSelect()">
  <!-- Card -->
  <div class="card z-depth-1">
    <!-- Card content -->
    <div class="card-body">
      <!-- Title -->
      <div>
        <div class="float-right">
        
          <!-- <span class="badge badge-pill badge-primary">{{ sensorData?.when | date:'dd.MM.yyyy HH:mm:ss' }}</span> -->
          <a appBlink [blink-trigger]="shouldBlink()" mdbBtn floating="true" size="sm" outline="true" color="default" rounded="true"><mdb-icon fas [icon]="sensorData?.battery"></mdb-icon></a>
          <a mdbBtn floating="true" size="sm" outline="true" color="default" rounded="true">{{ sensorData?.when | date:'dd.MM.yyyy HH:mm:ss' }}</a>          
          <!-- <i [ngClass]="getTemperatureIconAndColor()" class="fas ml-3"></i> -->
        </div>
        <h4 class="card-title font-weight-bold">{{ room.name }}</h4>
      </div>
      <hr>
      <!-- Text -->
      <div class="row card-text">
        <div style="font-size: 2rem;" class="col-6">
          <i [ngClass]="getTemperatureIconAndColor()" class="fas mr-3"></i>
          <span>{{ sensorData?.temperature }}&deg;C</span>
          <i [ngClass]="getTendencyIcon()" class="pl-2"></i>
        </div>
        <div style="font-size: 2rem;" class="col-6">
          <i class="fas fa-tint fas-lg blue-text mr-3"></i>
          <span>{{ sensorData?.humidity }}%</span>
        </div>
      </div>
    </div>
  </div>
</a>