<div class="container table-responsive">
  <div class="mx-auto">
    <div class="md-form">
      <input type="text" class="form-control" [(ngModel)]="searchText" (keyup)="searchItems()" id="search-input"
        mdbInput>
      <label for="search-input">Suche ..</label>
    </div>
    <div class="row">
      <div class="md-form col-sm col-md-6">
        <input type="date" id="from" class="form-control" [value]="fromDate | date:'yyyy-MM-dd'" #fromDateElRef>
        <label for="from">Auswahl von ..</label>
      </div>
      <div class="md-form col-sm col-md-6">
        <input type="date" id="until" class="form-control" [value]="untilDate | date:'yyyy-MM-dd'" #untilDateElRef>
        <label for="until">bis ..</label>
      </div>
      <div class="md-form col-sm col-md-12">
      <button mdbBtn style="width: 100%;" (click)="reloadTable()" size="sm" type="button" color="info" class="waves-light" [disabled]="!fromDateElRef.value || !untilDateElRef.value" mdbWavesEffect>
        <mdb-icon fas icon="redo"></mdb-icon>
      </button>
      </div>
    </div>
  </div>
  <div class="row">
    <table mdbTable #tableEl="mdbTable" stickyHeader="true" hover="true" striped="true" class="z-depth-1">
      <thead class="sticky-top">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Temp. (&deg;C)</th>
          <th scope="col">LF (%)</th>
          <th scope="col">Datum</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of elements; let i = index">
          <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i &lt; mdbTablePagination.lastItemIndex" scope="row">
            {{data.id}}</th>
          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i &lt; mdbTablePagination.lastItemIndex"
            class="text-center">{{data.temperature}}</td>
          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i &lt; mdbTablePagination.lastItemIndex"
            class="text-center">{{data.humidity}}</td>
          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i &lt; mdbTablePagination.lastItemIndex"
            class="text-center">{{data.creationDate | date:'dd.MM.yyyy HH:mm:ss'}}</td>
        </tr>
      </tbody>
      <tfoot class="grey lighten-5 w-100">
        <tr>
          <td colspan="4">
            <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>