<nav class="navbar navbar-expand-lg aqua-gradient color-block sticky-top z-depth-2">
  <a class="navbar-brand" [routerLink]="[ '/' ]">
    <p class="text-monospace font-weight-bold white-text">SensorData</p>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleMenu()">
    <!-- <span class="navbar-toggler-icon"></span> -->
    <!-- <i class="fas fa-bars fa-lg white-text"></i> -->
    <mdb-icon class="white-text" fas size="2x" icon="bars"></mdb-icon>

  </button>
  <div class="collapse navbar-collapse" id="navbarText" [ngClass]="{'show': showMenu === 'in'}">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" mdbWavesEffect>Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" mdbWavesEffect>FOO</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" mdbWavesEffect>MOO</a>
      </li>
    </ul>
  </div>
</nav>

<div class="alert alert-primary text-center" style="height: 48px;" role="alert" [@slideInAndOut]='watchState'>
  <span>
    {{ date | date:'dd.MM.yyyy HH:mm:ss' }}
  </span>
</div>
<!-- <ng-template #spacer>
  <div style="height: 1.25rem;"></div>
</ng-template> -->

<p style="position: absolute; right: 25px; top: 87px; cursor: pointer;" (click)="toggleWatch()">
    <mdb-icon size="lg" fas icon="clock"></mdb-icon>
</p>
<router-outlet></router-outlet>
